{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="container">
      <div class="row">
        {% for blog in blogs %}

        <div class="col-4">

      
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ blog.image.url }}" alt="Card image cap">
            {{ blog.image.url }}
            <div class="card-body">
              <h5 class="card-title">{{blog.title}}</h5>
              <p class="card-text">{{blog.description}}</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
    
          </div>
          
        </div>
    {% endfor %}



      </div>
    
    

    
{% endblock %}